$icon-size: 45px;
$border-radius: 0.5;

$background   : #2d2c3e;

$facebook: #1877f2;
$twitter: #1da1f2;
$linkedin: #0a66c2;
$instagram: #c32aa3;

$white: #ffffff;

.home-page {
    .content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .primary-content {
            width: 75%;

            .banner-carousel {
                margin-bottom: 20px;
                overflow: hidden;
                position: relative;
                width: 100%;

                .carousel-inner {
                    display: flex;
                    transition: transform 0.5s ease-in-out;
                    
                    img {
                        width: 100%;
                    }
                }
            }

            .frequently-viewed-items {
                h2 {
                    margin-top: 20px;
                }

                .items-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px;

                    .item {
                        padding: 10px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease;

                        &:hover {
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                            // transform: scale(1.05);

                            img {
                                transition: transform 0.3s ease;
                                transform: scale(1.1);
                            }
                        }

                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        h3 {
                            margin: 10px 0 5px;
                        }

                        p {
                            color: #777;
                        }
                    }
                }
            }
        }

        .secondary-content {
            width: 30%;
            font-size: 0.8rem;

            .container {
                margin-bottom: 20px;
                margin: 20px;
                padding: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            .recently-viewed-items,
            .subscriber-section,
            .social-media {
                h2 {
                    margin-bottom: 10px;
                }

                .recent-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0;
                    }
                }

                input {
                    width: 90%;
                    padding: 10px;
                    margin-bottom: 10px;
                }

                button {
                    width: 100%;
                    padding: 10px;
                    background-color: cyan;
                    border: none;
                    color: white;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: darkcyan;
                    }
                }

                .social-media-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    padding: 0;
                }

                .social-media-icons {
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: $icon-size;
                    height: $icon-size;
                    margin-left: calc($icon-size / 5);
                    margin-right: calc($icon-size / 5);
                    border-radius: $icon-size*$border-radius;
                    overflow: hidden;
                    background-color: $background;

                    &::before, &::after {
                        content: '';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        transition: all 0.25s ease;
                        border-radius: $icon-size*$border-radius;
                    }

                    a {
                        position: relative;
                        color: $white;
                        font-size: calc($icon-size / 2);
                        margin-top: calc($icon-size / 10);
                        transition: all 0.25s ease;
                        z-index: 1;
                    }
                }

                .icon-fill-ig {
                    &::before{
                      transition-duration: 0.5s;
                      box-shadow: inset 0 0 0 1px $instagram;
                    }
                    &:hover::before{
                      box-shadow: inset 0 0 0 $icon-size $instagram;
                    }
                }

                .icon-fill-x {
                    &::after{
                      box-shadow: inset 0 0 0 1px $twitter
                    }
                    &::before{
                      border-radius: 0;
                      margin-left: -100%;
                      box-shadow: inset 0 0 0 $icon-size $twitter;
                    }
                    &:hover::before{
                      margin-left: 0;
                    }
                }

                .icon-fill-fb {
                    &::after{
                      box-shadow: inset 0 0 0 1px $facebook;
                    }
                    &::before{
                      background: $facebook;
                      box-shadow: inset 0 0 0 $icon-size $background;
                    }
                    &:hover::before{
                      box-shadow: inset 0 0 0 1px $background;
                    }
                }

                .icon-fill-li {
                    &::before{
                      border-radius: 0;
                    }

                    &:hover::before {
                      box-shadow: 
                      inset 0 calc($icon-size/2) 0 0 $linkedin,
                      inset 0 calc($icon-size/-2) 0 0 $linkedin;
                    }

                    &::after {
                      box-shadow: inset 0 0 0 1px $linkedin;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        background-color: cyan;
        padding: 10px 0;
    }
}
