@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/dune-rise');

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: cyan;
    color: #000;

    .nav-left {
        display: flex;
        align-items: center;
        margin-left: 10%;

        h1 {
            margin-right: 20px;
            font-family: 'Dune Rise', sans-serif;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            .nav-item {
                margin-right: 15px;
                position: relative;
                font-family: 'Dosis', sans-serif;
                font-size: 1.3rem;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            .nav-link {
                text-decoration: none;
                color: black;
                position: relative;
                padding-bottom: 5px;
            }
              
            .nav-link::after {
                content: '';
                display: block;
                height: 2px;
                background: white;
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 0;
                transition: width 0.3s ease, left 0.3s ease;
            }
              
            .nav-link:hover::after {
                width: 100%;
                left: 0;
            }
              
            .nav-link.active::after {
                width: 100%;
                left: 0;
            }
              
            .nav-link:hover {
                color: #fff;
            }

            .nav-link-category:hover {
                color: #fff;
            }
            
            .category .dropdown {
                display: none;
                position: absolute;
                top: 100%;
                width: 20vw;
                left: 0;
                background-color: cyan;
                color: #000;
                list-style: none;
                padding: 0;
                margin: 0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 1;
                animation: fadeIn 0.3s ease forwards;
            }

            .category .dropdown li {
                padding: 10px;
                white-space: nowrap;
            }
            
            .category:hover .dropdown {
                display: block;
            }

            .category li:hover .dropdown {
                color: #fff;
            }

            .dropdown-item {
                display: flex;
                align-items: center;
                padding: 20px;
                transition: all 0.3s ease;
                opacity: 0;
                transform: translateX(-10px);
                animation: slideIn 0.5s ease forwards;
                animation-delay: calc(0.1s * var(--i));
                color: black;
            }
              
            .dropdown-item:hover {
                background-color: cyan;
                // color: white;
            }
              
            .dropdown-icon {
                margin-right: 10px;
                margin-left: -20px;
                opacity: 0;
                position: absolute;
                transform: translateX(-10px);
                transition: all 0.3s ease;
            }
              
            .dropdown-link {
                text-decoration: none;
                color: black;
                padding-left: 0;
                transition: all 0.3s ease;
            }
              
            .dropdown-item:hover {
                .dropdown-link {
                    transform: translateX(30px);
                    font-weight: 600;
                }
            }
              
            .dropdown-item:hover .dropdown-icon {
                opacity: 1;
                transform: translateX(20px);
            }
              
            @keyframes fadeIn {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
            }
              
            @keyframes slideIn {
                from {
                    opacity: 0;
                    transform: translateX(-10px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        margin-right: 10%;

        .search-container {
            display: flex;
            align-items: center;
            border-bottom: 2px solid #ccc;
            background-color: cyan;
            width: 100%;
            margin: 0 10px;
            position: relative;
        }
        
        .search-icon {
            margin-right: 5px;
            color: #aaa;
        }
        
        .search-input {
            border: none;
            outline: none;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: transparent;
        }
        
        .search-input::placeholder {
            color: transparent;
            transition: all 0.3s ease;
        }
        
        .search-input:focus ~ .placeholder-text,
        .search-input:not(:placeholder-shown) ~ .placeholder-text {
            transform: translateY(-20px);
            font-size: 12px;
            color: #aaa;
        }
        
        .placeholder-text {
            font-family: 'Dosis', sans-serif;
            position: absolute;
            top: 10px;
            left: 30px;
            transition: all 0.3s ease;
            pointer-events: none;
        }
        
        .separator {
            height: 20px;
            border-left: 1px solid #ccc;
            margin-right: 5px;
        }

        button {
            padding: 15px 10px;
            margin-right: 10px;
            background-color: transparent;
            color: black;
            border: none;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn {
            color: #000;
            display: block;
            font-size:1rem;
            line-height: 20px;
            max-width: 160px; 
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover { text-decoration: none; }
        }

        .cart-button,
        .login-button {
            font-family: 'Dosis', sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            
            svg {
                height: 45px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            
            rect {
                fill: none;
                stroke: #fff;
                stroke-width: 0;
                stroke-dasharray: 422, 0;
                transition: all 0.35s linear;
            }
        }
          
        .cart-button:hover,
        .login-button:hover {
                letter-spacing: 2px;
                color: #fff;
                
                rect {
                    stroke-width: 5;
                    stroke-dasharray: 10, 210;
                    stroke-dashoffset: 48;
                    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
                }
        }
    }
}
