.product-page {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

    nav {
        margin: 20px 0;
        background-color: transparent;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .product-details {
        display: flex;
        justify-content: space-between;

        .image-gallery {
            display: flex;
            flex-direction: column;

            img {
                cursor: pointer;
                margin-bottom: 10px;
                width: 60px;
                height: 60px;
                object-fit: scale-down;
            }
        }

        .selected-image {
            position: relative;
            flex: 1;
            margin: 20px;

            img {
                width: 100%;
                cursor: zoom-in;
                height: auto;
                object-fit: contain;
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                display: block;
            }

            .zoom-effect {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                width: 300px;
                height: 300px;
                overflow: hidden;
                border: 1px solid #ccc;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                img {
                    width: 500%;
                    height: 500%;
                    object-fit: contain;
                    transform: scale(2);
                }
            }
        }

        .product-info {
            flex: 1;

            h1 {
                font-size: 24px;
            }

            p {
                margin: 10px 0;
            }
        }
    }

    .similar-products {
        margin-top: 40px;
        position: relative;

        .products-slider {
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            transition: transform 0.5s ease;

            .link {
                text-decoration: none;
                color: black;
                margin-right: 5px;

                .product {
                    width: 150px;
                    height: 175px;
                    padding: 10px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    transition: transform 0.5s ease;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                    }

                    &:hover .product-title {
                        overflow: visible;
                        white-space: normal;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: scale-down;
                        transition: transform 0.2s ease-in-out;
                    }

                    .product-title {
                        text-align: center;
                        margin-top: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: none;
                    }

                    .product-title:hover::after {
                        content: attr(data-full-title);
                        position: absolute;
                        top: -25px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #fff;
                        padding: 5px;
                        border: 1px solid #ccc;
                        z-index: 10;
                        white-space: nowrap;
                    }
                }
            }
        }

        .carousel-nav {
            position: absolute;
            top: 50%;
            height: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            padding: 10px;
            margin: 0 5px;
            font-size: 24px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.2s;

            &:hover {
                background-color: #aaa;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            }

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }

    .reviews-section {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        .general-overview {
            flex: 1;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .rating-stars {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;

                span {
                    cursor: pointer;
                    font-size: 24px;
                    margin-right: 5px;
                }
            }

            .rating-breakdown {
                margin-bottom: 1rem;

                .rating-bar {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .bar {
                        flex-grow: 1;
                        height: 1rem;
                        background-color: #f0f0f0;
                        margin: 0 0.5rem;
                        border-radius: 0.5rem;
                        overflow: hidden;

                        .filled-bar {
                            height: 100%;
                            background-color: orange;
                        }
                    }
                }
            }

            p {
                margin-top: 10px;
            }
        }

        .written-reviews {
            flex: 2;

            .sorting {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1rem;

                button {
                    background: none;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                    margin-right: 1rem;
                }
            }

            .review {
                // margin-bottom: 20px;
                display: flex;
                margin-bottom: 1rem;

                .avatar {
                    width: 50px;
                    height: 50px;
                    background-color: grey;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                    color: white;
                    font-size: 1.5rem;
                }

                .review-content {
                    flex-grow: 1;

                    .review-header {
                        display: grid;
                        align-items: center;
                        margin-bottom: 0.5rem;

                        .review-name {
                            font-weight: bold;
                            margin-right: 0.5rem;
                        }

                        .review-rating {
                            color: orange;
                            margin-right: 0.5rem;
                        }

                        .review-title {
                            font-weight: bold;
                            margin-right: 0.5rem;
                        }

                        .review-date {
                            color: grey;
                        }
                    }

                    .review-actions {
                        display: flex;
                        align-items: center;

                        button {
                            background: none;
                            border: none;
                            cursor: pointer;
                            margin-right: 0.5rem;
                        }

                        .separator {
                            width: 1px;
                            height: 1rem;
                            background-color: grey;
                            margin: 0 0.5rem;
                        }

                        .thumbs-up, .thumbs-down {
                            position: relative;
                            .count {
                                display: inline-block;
                                transition: transform 0.3s ease, opacity 0.3s ease;
                            }
                        }
                        
                        .thumbs-up.active .count,
                        .thumbs-down.active .count {
                            transform: scale(0.9);
                        }
                        
                        @keyframes slideUp {
                            0% {
                                transform: translateY(100%);
                                opacity: 0;
                            }
                            100% {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        
                        @keyframes slideDown {
                            0% {
                                transform: translateY(-100%);
                                opacity: 0;
                            }
                            100% {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        
                        .thumbs-up .count, .thumbs-down .count {
                            display: inline-block;
                        }
                        
                        .thumbs-up.active .count, .thumbs-down.active .count {
                            animation: slideUp 0.3s forwards;
                        }
                    }
                }

                p {
                    margin: 0;
                }

                strong {
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }
}
